# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db
qwellid
models/KnightsAnalytics_all-MiniLM-L6-v2/config.json
models/KnightsAnalytics_all-MiniLM-L6-v2/model.onnx
models/KnightsAnalytics_all-MiniLM-L6-v2/special_tokens_map.json
models/KnightsAnalytics_all-MiniLM-L6-v2/tokenizer_config.json
models/KnightsAnalytics_all-MiniLM-L6-v2/tokenizer.json
models/KnightsAnalytics_all-MiniLM-L6-v2/vocab.txt
