<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Qwelli" 
           Language="1033" 
           Version="0.1.0" 
           Manufacturer="Qwelli" 
           UpgradeCode="12345678-1234-1234-1234-123456789ABC">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="Qwelli - Semantic search for your local files" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    
    <!-- Main Feature -->
    <Feature Id="ProductFeature" Title="Qwelli" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StartMenuComponents" />
      <ComponentGroupRef Id="PathComponents" />
    </Feature>
  </Product>
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Qwelli" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Qwelli" />
      </Directory>
    </Directory>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="qwelli.exe" Guid="*">
        <File Id="qwelli.exe" Source="..\dist\qwelli.exe" KeyPath="yes" />
      </Component>
      <Component Id="duckdb.dll" Guid="*">
        <File Id="duckdb.dll" Source="..\dist\duckdb.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Qwelli"
                  Description="Qwelli - Semantic search for your local files"
                  Target="[INSTALLFOLDER]qwelli.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" 
                       Key="Software\Qwelli" 
                       Name="installed" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="PathComponents" Directory="INSTALLFOLDER">
      <Component Id="PathEnvironment" Guid="*">
        <Environment Id="PathEnvironment"
                      Name="PATH"
                      Value="[INSTALLFOLDER]"
                      Permanent="no"
                      Part="last"
                      Action="set"
                      System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>

